# Want to add to this file?
# http://www.reactivated.net/writing_udev_rules.html#udevinfo
# udevadm info -a -p /sys/...
# SIP Serial: two redundant ports for commands
# COMM1 in software is labeled COMM1 on chassis
SUBSYSTEM=="tty", ACTION=="add", ATTR{port}=="0x240", SYMLINK+="ttyCOMM1"
# COMM2 in software is labeled COMM2 on chassis
SUBSYSTEM=="tty", ACTION=="add", ATTR{port}=="0x248", SYMLINK+="ttyCOMM2"
# CSBF provides a GPS compass with NMEA text packet outputs via RS-232, if you ask nicely
# ttyCSBFGPS in software is labeled COMM3 on chassis
SUBSYSTEM=="tty", ACTION=="add", ATTR{port}=="0x250", SYMLINK+="ttyCSBFGPS"
# Magnetometer
# ECM: temp until flight RS-232 Adapter is bought
#SUBSYSTEM=="tty", ACTION=="add", ATTRS{interface}=="Chipi-X", SYMLINK+="ttyMAG"
# Inclinometer
# ECM: temp until flight RS-422 Adapter is bought
# This device (interfaceNumber 00) is connector DATA1 on the KVH FOG IMU Interface Box.
#SUBSYSTEM=="tty", ACTION=="add", ATTRS{interface}=="USB-COM422 Plus2", ATTRS{bInterfaceNumber}=="00", SYMLINK+="ttyINC"
# Gyros
#SUBSYSTEM=="tty", ACTION=="add", ATTR{port}=="0x240", SYMLINK+="ttyGYRO0"
#SUBSYSTEM=="tty", ACTION=="add", ATTR{port}=="0x248", SYMLINK+="ttyGYRO1"