SUBSYSTEM!="usb", GOTO="rule_end"
ENV{DEVTYPE}!="usb_device", GOTO="rule_end"

ATTR{idVendor}=="1409", OWNER="ueyed", GROUP="ueye", MODE="0660"

ACTION=="add", ATTR{idVendor}=="1409", SYMLINK+="ueye/%m__%k__%s{idProduct}", RUN+="/usr/bin/ueyenotify -F usb -f %r/ueye/%m__%k__%s{idProduct}"
ACTION=="bind", ATTR{idVendor}=="1409", SYMLINK+="ueye/%m__%k__%s{idProduct}"
ACTION=="change", ATTR{idVendor}=="1409", SYMLINK+="ueye/%m__%k__%s{idProduct}"
ACTION=="remove", RUN+="/usr/bin/ueyenotify -F usb"

LABEL="rule_end"
